.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skew(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    // чтобы shape-outside работало должны быть заданы высота, ширина и флоат
    width: 15rem;
    height: 15rem;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    @supports (clip-path: circle()) { // [TO DO] обернуть все clip-path в @supports
      clip-path: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
    }
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4); // позиционируем кортинку как нам удобно
    transition: all .5s;
    backface-visibility: hidden; // скрыть мелкое подрагивание во время анимации и прочие поведенческие артефакты
  }

  &__text {
    transform: skewX(12deg);
    
    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    @include absoluteCenter; // миксин: выравнивание по центру вертикально и горизонтально с помощью абсолютного позиционирования
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; // скрыть мелкое подрагивание во время анимации
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}