@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* выравнивание по центру вертикально и горизонтально с помощью абсолютного позиционирования  */
@mixin absoluteCenter {
  position: absolute; // [Длинный коммент в одну строку] Чтобы сработал position:absolute у родительского элемента должно быть прописано свойство position, причем не обязатльно со значением relative, даже если там будет absolute или что-то еще дочерний элемент будет уже позиционироваться относительно родительского. Другими словами элемент которому прописано position:absolute будет позиционироваться относительно того родительского элемента в котором прописано свойство position. Ну и понятно если вообще нигде не прописано, то будет позиционироваться относительно самого верхнего элемента, т.е. body.
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}